/* CSS reset */
ul,li{ 
	margin:0;
	padding:0;
}
p{
	margin: 0px 0px 0px 10px;
	padding:0;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
th,tr,td {
	font-weight: 300;
}
fieldset,img { 
	border:0;
}

address,caption,cite,code,dfn,var {
	font-style:normal;
	font-weight:normal;
}
ol,ul {
	list-style:none;
}
caption{
	text-align:left;
}

q:before,q:after {
	content:'';
}
abbr,acronym { border:0;
}

h1,h3,h5,h6 {
	color: #793aaf;
	font-weight: 300;
}

h2 {
	margin: 3px;
	color: #6dce0b;
	font-weight: 300;
}

h3 {
	margin: 3px;
}

h4 {
	margin: 3px;
	font-weight: 400;
}
h6 {
	font-size: 120%;
	margin: 3px;
}