body{
	background:#fff;
	color:#000;
	font-family: 'Helvetica','PT Sans', 'Terminal Dosis Light', 'Verdana', Arial, sans-serif;
	font-size: 16px;

}

#map-canvas {
	height: 100%;
	margin: 0px;
	padding: 0px;
	z-index: 9;
}
#panel>div{
	width:60%;
	float:left;
}
input#getdirections{
    padding: 5px 0px 5px 0px;
	margin-top: 1em;
	margin-left: 1em;
	background: white;
	color: #6dce0b;
	font-size: 100%;
	text-align: center;
	width: 120px;
	float: right;
}
.short-summery {
	width: 395px;
	margin: 0px 0px 5px 5px;
	background-color: #f4f4f4;
	float: left;	
}
.map-blocks {
	margin: 0px 0px 0px 5px;
	background-color: #f4f4f4;
	float: left;
}
.map-blocks>.block {
	width: 383px;
	height: 383px;
	padding: 5px 5px 5px 5px;
	float: left;
	border: 1px solid #e0e0e0;
	background-color: #f0f0f0;
}

.full-screen{
	height: 100%;
	margin: 0px;
	padding: 0px;
	z-index: 9;
}
.full-screen >.full-screen-block{
	height:1024px;
}
.clear{ clear:both; }

/*----------------------Intro*/
.intro_container { 
	width: 960px; 
	height: 50px;
	margin: auto;
	margin-bottom: 0.5em;
}

.intro_container .title  img{
	width: 150px;
	height: 50px;
	padding-left: 12px;
	padding-right: 24px;
	float: left;
}

.question {
	width: 210px;
	height: 50px;
	float: left;
	margin: 0px 0px 0px 30px;
	font-size: 120%;
	color: #a0a0a0;
}

.question img {
	width: 38px;
	height: 38px;
	margin-right:10px;
}

.question a, .question a:active { 
	color: #a0a0a0;
	text-decoration: none;
	font-size: 80%;
}

.question a:hover {
	color: #fb0197;
	text-decoration: none;
}
.bold_font {
	font-weight: 550;
	font-size: 1.2em;
}

.quicklinks {
	width: 960px;
	margin: 0 auto;
	margin-top: 2px;
}
.quicklinks  ul >img {
	padding: 0px 0px;
}

.quicklinks ul > li {
	display: inline-block;
	white-space: nowrap;
	font-size: 80%;
	margin: 0px;
	margin-top: 2px;
	padding: 0px 6px;
	border-right: 1px solid #d0d0d0;
	vertical-align: top;
}

/*------------------------Contract info*/
.quick_info{
	width:220px;
	height:500px;
	color:#fff;
	font-size:90%;
	position:fixed;
	top:50px;
	left:0px;
	border:1px solid #fff;
	background-color:#6dce0b;
	z-index:10;
}
.quick_info>h1{
	border-bottom: 1px dashed #ccc;
	padding: 20px;
	color: #fff;
	font-weight: 200;
}

/*-----------------------quick Form*/
.quick_info label {
/* set label's size of width and place to left */
    display: inline-block;
    width: 50px;
    text-align: left;
	margin-left: 1em;
}

.quick_info input {
	font: 1em sans-serif;
	color: grey;
/* set all input tags's width */
    width: 130px;

/* draw border line at every input tags */
    border: 1px solid #999;
}
.quick_info input:focus, .quick_info textarea:focus{
/* To give a little highligh on active elements */
    border-color: #000;
	color: black;
}

.quick_info textarea {
/* To properly align multiline text field with their label */
    vertical-align: top;
	width: 125px;
	height: 50px;
/* To allow users to resize any textarea vertically
   It works only on Chrome, Firefox and Safari */
    resize: vertical;
	font: 1em sans-serif;

/* set all textarea tags's width */
	margin-left: 77px;
	
/* draw border line at every input tags */
    border: 1px solid #999;
}

.quick_info .button {
/* set padding at buttons */

}

.quick_info button {
/* set extra margin and size of button*/
    padding: 5px 0px 5px 0px;
	margin-top: 1em;
	margin-left: 5.2em;
	width: 60%;
	background: white;
	color: #6dce0b;
	font-size: 100%;
}

.datepicker {
	
}
/*-----------------------booking form*/
.container .Booking_info{ 
	width: 558px;
	float: left;
	margin-bottom: 32px;
	border: 1px solid #e0e0e0;
	background-color: #f0f0f0;
}
.Booking_info label {
/* set label's size of width and place to left */
    display: inline-block;
    width: 235px;
    text-align: left;
	margin-left: 20px;
	font-weight: 300;
	font-size: 100%;
	color: #6dce0b;
}

.Booking_info input, .Booking_info select{
	font: 1em sans-serif;
	color: #491760;
/* set all input tags's width */
    width: 235px;
	margin-left: 20px;	
/* draw border line at every input tags */
    border: 1px solid #b9bfd4;
	background-color: #b0eb70;/*#7db3cc;*/
}

.Booking_info .datas{
	font: 1em sans-serif;
	color: #491760;
/* set all input tags's width */
    width: 235px;
    float: left;
	margin: 2px 5px 10px 20px;	
/* draw border line at every input tags */
   
	background-color: #b0eb70;/*#7db3cc;*/

}
.Booking_info .datas_status > a{
	font: 1em sans-serif;
	color: #fb0197;
/* set all input tags's width */
    width: 235px;
    float: left;
	margin: 2px 5px 10px 20px;	
/* draw border line at every input tags */
   
	background-color: #b0eb70;/*#7db3cc;*/

}

.Booking_info textarea {
	font: 1em sans-serif;
	color: #491760;
	vertical-align: top;
	resize: vertical;
/* set all input tags's width */
    width: 491px;
	margin-left: 20px;	
/* draw border line at every input tags */
    border: 1px solid #b9bfd4;
	background-color: #fff; /*#b0eb70 #7db3cc*/
}
.Booking_info input:focus, .Booking_info textarea:focus{
/* To give a little highligh on active elements */
    border-color: #000;
	color: white;
	font: 1em sans-serif;
}

.Booking_info .button {
/* set padding at buttons */
	width: 560px;
	margin: 0 auto;
}

.Booking_info button {
/* set extra margin and size of button*/
    padding: 5px 0px 5px 0px;
	margin-top: 1em;
	margin-left: 1em;
	background: white;
	color: #6dce0b;
	font-size: 100%;
	text-align: center;
	width: 120px;
	float: right;
}
/*************************************/

.container .Booking_step{ 
	width: 558px;
	float: left;
	margin-bottom: 32px;
	border: 1px solid #e0e0e0;
	background-color: #f0f0f0;
}
.Booking_step label {
/* set label's size of width and place to left */
    display: inline-block;
    width: 125px;
    text-align: right;
	margin-left: 20px;
	font-weight: 300;
	font-size: 100%;
	color: #888;
}

.Booking_step input, .Booking_step select{
	font: 1em sans-serif;
	color:#000;
/* set all input tags's width */
    width: 150px;
	margin-left: 20px;	
/* draw border line at every input tags */
    border: 1px solid #b9bfd4;
    border-radius: 2px;
    moz-border-radius: 2px;
    webkit-border-radius: 2px;
    khtml-border-radius: 2px;
	background-color: #fff;/*#7db3cc;*/
}

.Booking_step .datas{
	font: 1em sans-serif;
	color: #491760;
/* set all input tags's width */
    width: 235px;
    float: left;
	margin: 2px 5px 10px 20px;	
/* draw border line at every input tags */
   
	background-color: #b0eb70;/*#7db3cc;*/

}
.Booking_step .datas_status > a{
	font: 1em sans-serif;
	color: #fb0197;
/* set all input tags's width */
    width: 235px;
    float: left;
	margin: 2px 5px 10px 20px;	
/* draw border line at every input tags */
   
	background-color: #b0eb70;/*#7db3cc;*/

}

.Booking_step textarea {
	font: 1em sans-serif;
	color: #491760;
	vertical-align: top;
	resize: vertical;
/* set all input tags's width */
    width: 300px;
	margin-left: 167px;	
/* draw border line at every input tags */
    border: 1px solid #b9bfd4;
	background-color: #fff; /*#b0eb70 #7db3cc*/
}
.Booking_step input:focus, .Booking_step textarea:focus{
/* To give a little highligh on active elements */
    border-color: #000;
	color:#000;
	font: 1em sans-serif;
}

.Booking_step .button {
/* set padding at buttons */
	width: 560px;
	margin: 0 auto;
}

.Booking_step button {
/* set extra margin and size of button*/
    padding: 5px 0px 5px 0px;
	margin-top: 1em;
	margin-left: 1em;
	background: white;
	color: #6dce0b;
	font-size: 100%;
	text-align: center;
	width: 120px;
	float: right;
}
.required { 
/* set margin to right place and color for required fields*/
	margin-left:4px; 
	color: red; 
}
.optional { 
/* set margin to right place and color for optional fields*/
	margin-left: 8px; 
	content: " ";
}

.container { 
	width: 960px; 
	margin: auto;
	position: relative;
	margin-bottom: 64px;
}
/*---columns---*/
.container .column-1_3 { 
	width: 560px;	
	float: left;	
}

.container .column-2_3{ 
	width: 393px;
	float: left; 
	margin-left: 5px;
}


/*---columns---*/
.container .column-1_2 {
	width: 750px;
	height: 382px;

	float: left;	
}
.container .column-2_2 { 
	width: 195px;
	height: 382px;
	float: left; 
	background-color: #fff;
}
.column-2_2 > .support_block {
	width: 188px;
	height: 170px;
	margin: 10px 0px 10px 10px;
	padding: 5px;
	/*border: 1px solid #e0e0e0;*/
	background-color: #fff; /*f0f0f0*/
}

.support_block  .readmore img, .block  .readmore img {
	width:15px;
	height:15px;
}
span.readmore{
	font-size: 80%;
	float: right;
}
.blocks {
	width: 960px;
	margin: 10px 0px 10px 0px;
	background-color: #f4f4f4;
}
.blocks p{
	font-size: 80%;
}
.block div.block-top{
	width: 228px;
	height: 220px;
}
.block div.bottom-img{
	width: 160px;
	height: 80px;
	margin-left: auto;
    margin-right: auto;
}
.bottom-img img {
	width: 100%;
	height: 100%;
}
.blocks>.block {
	width: 228px;
	height: 300px;
	padding: 5px 5px 5px 5px;
	float: left;
	border: 1px solid #e0e0e0;
	background-color: #fff;
}
.blocks.last>.block {
	width: 228px;
	height: 300px;
	padding: 5px 5px 5px 5px;
	float: left;
	border: 1px solid #e0e0e0;
	background-color: #fff;
	
	background-image: -moz-linear-gradient(top,  #fff 0%, #f3efef 100%); /* FF3.6+ */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff), color-stop(100%,#f3efef)); /* Chrome,Safari4+ */
	background-image: -webkit-linear-gradient(top,  #fff 0%,#f3efef 100%); /* Chrome10+,Safari5.1+ */
	background-image: -o-linear-gradient(top,  #fff 0%,#f3efef 100%); /* Opera 11.10+ */
	background-image: -ms-linear-gradient(top,  #fff 0%,#f3efef 100%); /* IE10+ */
	background-image: linear-gradient(top,  #fff 0%,#f3efef 100%); /* W3C */
}
.block table  th {
	background-color: #b0eb70;
}

.block tr:nth-child(even) {
	background-color: #e0e0e0;
}
.skyblue-font {
	color: #00ccff;
	font-weight: 300;
}

.pink-font {
	color: #fb0197;
	font-weight: 700;
}
.green-font {
	color: #6dce0b;
	font-weight: 700;
}
.purple-font {
	color: #491760;
	font-weight: 300;
}
.block .calander img {
	width:100%;
	height: 235px;
}
.banner img{
	width: 100%;
	height: 85px;
}

.explanation {
	width: 560px;
	background-color: #f0f0f0;
	border: 1px solid #e0e0e0;
}

/* Footer Style */
.bf_footer{
	position: fixed;
	bottom:0px;
	left:0px;
	width:100%;
	font-size:14px;
	background:#6dce0b;
	opacity:0.9;
	height:26px;
	padding-bottom:5px;
	text-transform:uppercase;
	z-index: 10;
	font-family: 'Helvetica-Light', Arial, sans-serif;
}
.bf_footer .copyright{
	padding:5px 10px;
	letter-spacing:1px;

	color:#fff;
	float:left;
	text-decoration: none;
}
.bf_footer > .share  img{
	float: right;
	padding: 3px;
	width: 25px;
	height: 25px;
}
.shareus {
	color: #fff;
	float:right;
	padding:7px;
	text-decoration: none;
	letter-spacing:1px;
}
.shareus:hover {
	color: #fff;
	float:right;
	padding:7px;
	text-decoration: none;
	letter-spacing: 1px;
}
.footer-container {
	width: 960px;
	margin: 0 auto;
}
.bottom-footer {
	margin-top: 32px;
	margin-bottom: 31px;

	bottom: 31px;
	width: 100%;
	height: 100%;

	font-size: 16px;
	
	padding-bottom: 5px;
	font-family: 'Helvetica-Light', Arial, sans-serif;
}
.bottom-footer .info{
	width: 430px;
	float: left;
	font-size: 150%;
	color: #777;
}
.bottom-footer .info article{
	margin-left: 5px;
}
.bottom-footer .img{
	float: left;
}

.bottom-footer ul {
	padding-left: 256px;
	padding-top: 32px;
	font-size: 80%;
}
.aside-1{
	width: 190px;
	margin-left: 10px;
	float: left;
}
.aside-1  > .bottom-container{
	width: 185px;
	margin: 0 auto;
	float: left;
}
.aside-1 > .bottom-footer .info {
	width: 185px;
	font-size: 100%;
}
.aside-1 > .bottom-footer .info article {
	margin-left: 5px;
}
.aside-1  > .bottom-footer ul {
	padding-left: 40px;
	padding-top: 32px;
}
/*slider gallery*/

.ei-slider{
	position: relative;
	width: 750px;
	max-width: 1920px;
	height: 350px;
	float: left;
	margin-top: 10px;
	z-index: 0;
}
.ei-slider-loading{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index:999;
	background: rgba(0,0,0,0.9);
	color: #fff;
	text-align: center;
	line-height: 400px;
}
.ei-slider-large{
	height: 100%;
	width: 100%;
	position:relative;
	overflow: hidden;
}
.ei-slider-large li{
	position: absolute;
	top: 0px;
	left: 0px;
	overflow: hidden;
	height: 100%;
	width: 100%;
}
.ei-slider-large li img{
	width: 100%;
}
.ei-title{
	position: absolute;
	right: 50%;
	margin-right: 7%;
	top: 30%;
}
.ei-title h2, .ei-title h3{
	text-align: right;
	margin: 0px;
	padding: 0px;
}
.ei-title h2{
	font-size: 200%;
	line-height: 37.5px;
	font-family: 'Helvetica-Light', serif;
	font-style: italic;
	color: #b5b5b5;
}
.ei-title h3{
	font-size: 250%;
	line-height: 52.5px;
	font-family: 'Helvetica-Light', sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	color: #000;
}
.ei-slider-thumbs{
	height: 25px;
	margin: 0 auto;
	position: relative;
}
.ei-slider-thumbs li{
	position: relative;
	float: left;
	height: auto;
	text-align: center;
	vertical-align: middle;
	margin: auto;

}
.ei-slider-thumbs li.ei-slider-element{
	top: 0px;
	left: 0px;
	position: absolute;
	height: 150%;
	z-index: 10;
	text-indent: -9000px;
	background: #6dce0b;
	opacity: 0.7;
	border: 1px solid #e0e0e0;
	/*background: rgba(0,0,0,0.9);*/
}
/*.ei-slider-thumbs li a{
	display: block;
	text-indent: -9000px;
	color: #491760;
	width: 100%;
	height: 100%;
	cursor: pointer;
	-webkit-box-shadow: 
        0px 1px 1px 0px rgba(0,0,0,0.3), 
        0px 1px 0px 1px rgba(255,255,255,0.5);
	-moz-box-shadow: 
        0px 1px 1px 0px rgba(0,0,0,0.3), 
        0px 1px 0px 1px rgba(255,255,255,0.5);
	box-shadow: 
        0px 1px 1px 0px rgba(0,0,0,0.3), 
        0px 1px 0px 1px rgba(255,255,255,0.5);
	-webkit-transition: background 0.2s ease;
    -moz-transition: background 0.2s ease;
    -o-transition: background 0.2s ease;
    -ms-transition: background 0.2s ease;
    transition: background 0.2s ease;
}
.ei-slider-thumbs li a:hover{
	background-color: #491760;
}
.ei-slider-thumbs li img{
	position: absolute;
	bottom: 50px;
	opacity: 0;
	z-index: 999;
	max-width: 100%;
	-webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    transition: all 0.4s ease;
	-webkit-box-reflect: 
        below 0px -webkit-gradient(
            linear, 
            left top, 
            left bottom, 
            from(transparent), 
            color-stop(50%, transparent), 
            to(rgba(255,255,255,0.3))
            );
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}
.ei-slider-thumbs li:hover img{
	opacity: 1;
	bottom: 13px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}*/
@media screen and (max-width: 830px) {
	.ei-title{
		position: absolute;
		right: 0px;
		margin-right: 0px;
		width: 100%;
		text-align: center;
		top: auto;
		bottom: 10px;
		background: #fff;
		background: rgba(255,255,255,0.9);
		padding: 5px 0;
	}
	.ei-title h2, .ei-title h3{
		text-align: center;
	}
	.ei-title h2{
		font-size: 20px;
		line-height: 24px;
	}
	.ei-title h3{
		font-size: 30px;
		line-height: 40px;
	}
}


/*city gallery*/
.content{
	margin:0px;
	padding:0px;
	bottom:0px;
}
.demo{
	float:left;
}
.ic_container{
    vertical-align:baseline;
    margin:10px;
    position:relative;
    /*-moz-border-radius:10px;
    -webkit-border-radius:10px;
    -khtml-border-radius:10px;
    -moz-box-shadow: 0 1px 3px #888;
    -webkit-box-shadow: 0 1px 3px #888;*/
}
.overlay{
    opacity:0.3;
    position:absolute;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);
}
.ic_caption{
    position:absolute;    
    opacity:0.6;   
    overflow:hidden;
    margin:0px;
    padding:0px;
    left:0px;
    right:0px;
    cursor:default;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=60);
}
.ic_category{
    text-transform:uppercase;
    font-size:11px;
    letter-spacing:3px;
    padding:5px;
    margin:0px;
}
.ic_caption h3 {
    padding: 0px 5px 5px 5px;
    margin: 0px;
    font-size: 100%;
}
.ic_caption h4{
    padding: 0px 5px 5px 5px;
    margin: 0px;
    font-size: 90%;
}
.ic_caption h5{
    padding: 0px 5px 5px 5px;
    margin: 0px;
    font-size: 80%;
}
.ic_caption h6{
    padding: 0px 5px 5px 5px;
    margin: 0px;
    font-size: 80%;
}
.ic_text{
    padding:5px;
    margin:0px;
    text-align:justify;
    font-size:11px;
}


/*****************Services*/
#ino_services {
	padding: 5px;
}
.service {
	width: 230px;
	height: 230px;
	background-color: skyblue;
	float: left;
}
.service>div{ 
	margin: 5px;
	width: 220px;
	height: 220px;
	background-color: white;
}


/****************************/
.page_collapsible_quickquote {
    margin: 0;
    padding:10px;
    width:30px;
	height: 200px;
    border-top:#f0f0f0 1px solid;
    background: #fb0197;
	position:fixed;
	top:50px;
	left:0px;
    font-family:  Helvetica, Arial, sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 1em;
	z-index:10;
}
.page_collapsible_booking {
    margin: 0;
    padding:10px;
    height:20px;

    border-top:#f0f0f0 1px solid;
    background: #cccccc;

    font-family: Helvetica, Arial, sans-serif;
    text-decoration:none;
    color: #000;
    font-size:1em;
}
.page_open_booking {
    margin: 0;
    padding:10px;
    height:20px;

    border-top:#f0f0f0 1px solid;
    background: #fff;/*#cccccc;*/

    font-family: Helvetica, Arial, sans-serif;
    text-decoration:none;
    color: #000;
    font-size:1em;
}
.verticaltext {
	writing-mode:tb-rl;
	-webkit-transform:rotate(90deg);
	-moz-transform:rotate(90deg);
	-o-transform: rotate(90deg);
	white-space:nowrap;

}

.collapse-open {
    background: #6dce0b;
    color: #fff;
	top:50px;
	left:222px;
	z-index:10;
}

.collapse-open span {
    display:block;
    float:right;
    padding:10px;
    background:url(../images/background/up-arro.png) center center no-repeat;
}

.collapse-close span {
    display:block;
    float:right;
	padding:10px;
    background:url(../images/background/down-arro.png) center center no-repeat;
}

div.content1{
    background:#f0f0f0;
    margin: 0;
    /*padding:10px;*/
    /*line-height:1.5em;*/
    font-family:"Helvetica-Light", Arial, Helvetica, Geneva, sans-serif;
}

/*Summary Page*/
	/********************/
	.container .column-1 {
		width: 450px;
		height: 100%;
		color: #bbb;
		float:left;
	}
	.container .column-2 {
		width: 50px;
		height: 100%;
		float:left;
	}
	.container .column-3 {
		width: 450px;
		height: 100%;
		color: #bbb;
		float:left;
	}
	.container .column-1 div.detail{
		width: 448px;
		height: 100%;
		margin: 12px 0px;	
		border: 1px solid #ddd;
		float:left;
	}
	.container span.title {
		margin-left:16px;
		margin-top:64px;
		font-weight:700;
		color: #6dce0b;
	}
	.container .you_get {
		margin: 12px 0px;
		border: 1px solid #ddd;
	}

/*FAQ*/
.faq {
	border: 1px solid #ccc9c4;
	width: 230px;
	height: 230px;
	margin: 5px 5px;
	padding: 15px;
	float: left;
}
.faq span {
	color: #6dce0b;
	font-size: 110%;
	padding: 10px 0px 10px 0px;
}
.faq div {
	font-size: 80%;
}